.home-container {
  padding: 2rem;
  text-align: center;
}

.hero-section {
  padding: 11rem 5rem;
  background-image: url('/images/food1.avif');
  border-radius: 8px;
}

.hero-section h1 {
  font-size: 2.5rem;
  color: white;
}

.hero-section .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.features {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.feature-box {
  background-color:cornsilk;
  border: 1px solid #eee;
  padding: 1.8rem;
  border-radius: 10px;
  width: 320px;

}
.features .feature-box:hover {
  transform: translateY(-10px);
  background-color:bisque;
}

.footer {
  margin-top: 4rem;
  padding: 1rem 0;
  background-color: rgb(212, 161, 95);
  color: white;
} 

